.window-header {
  text-align: center;
}

.sds-chart .window-content {
  text-align: center;
  background-image: none;
  background-color: antiquewhite;
  height: fit-content;  
  /*overflow-y: visible; */
  /*overflow-x: visible;*/
}

.chartdice {
  display: flex;
  flex-direction: column;
}

.selections-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#d20itex {
  position: relative;
  left: -30px;
  top: -2px;
  -webkit-text-stroke: 0.25px black;
  color: antiquewhite;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
}

.dateselect {
  vertical-align: middle;
  font-weight: bold;
}

.titleclass {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.ttch1 {
  height: 44px;
}

.chartitle {

  -webkit-text-stroke: 1px black;
  font-family: 'Roboto';
  font-size: 40px;
}

.chartnlabel {
  display: flex;
  justify-content: center;
}

#roll-label {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  transform: rotate(180deg);
  writing-mode: vertical-lr;

}

.allthebars {

  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  /*border: 2px solid black;*/
  gap: 5px;
}

.bar-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 30px;
}

.bar {
  border: 1px solid black;
  width: 100%;
}

.bar:hover::after {
  position: absolute;
  content: attr(data-hover-text);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  z-index: 3;
}

.dice-label {
  display: flex;
  justify-content: space-evenly;
  width: 360px;
}

.bar-number {
  width: 30px;
  position: relative;
  top: -20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.dicelabels {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5px;
  left: 12px;
  top: 4px;
}

.dicenlabel {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  text-align: center;
}

.bar-label {
  background-image: url(../../../icons/svg/d20-grey.svg);
  filter: sepia(0.8) hue-rotate(60deg);
  background-size: contain;
  z-index: 1;
  width: 30px;
  height: 30px;
  z-index: 2;
  font-size: 18px;
  font-weight: bold;
  background-position-y: -2px;
  background-repeat: no-repeat;
  -webkit-text-stroke: 0.25px white;
  font-family: 'Roboto';
}

.bgimgdice {
  width: 30px;
  background-image: url("../../../icons/svg/d20-grey.svg");
  background-size: contain;
  z-index: 1;
}

/* ******* Tables ********** */

table th,
table td {
  border: 1px solid black;
  border-style: dotted;
  border-collapse: collapse;
  padding: 1px 1px;
  border: 1%;
}

.tablescontainer {
  display: flex;
  justify-content: space-evenly;
}

.tablestats {
  width: 30%;  
}

.tableswho {
  width: 30%;  
}

.table-details{
  width: 40%;  
}

.table-details, .tableswho, .tablestats {
  margin: 1em;
  text-align: center;
}
/*
#totalrolls,
#nat1s,
#att1s,
#nat20s,
#att20s {
  text-align: right;
}
*/
.sdsdisabled {

  display: flex;
  gap: 20px;
  align-items: center;
  font-family: 'Roboto';
  text-align: center;
  justify-content: center;
}

#sds-winapp-mngdata .window-content {
  display: flex;
  text-align: center;
  background-image: none;
  background-color: antiquewhite;
  flex-direction: row;
  align-items: center;
  height: fit-content;  
}

#data-management{  
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#manage-bydate{
  width: fit-content;
  display: flex;
  flex-direction: column;
}

#importdata-div,#deletedata-div,#export-div{    
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  background-color: mintcream;
  padding: 0.5em;
}

.import-button,.delete-button,.export-button{
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin: 0.125em;
}

.date-button{
  width: fit-content;
}