<div id="data-management">

    <br>
    <div id="export-div"> <u>EXPORT PLAYER DATA</u> <br><br> Backup player data <br><br></div>
    <br>
    <div id="importdata-div"> <u>IMPORT PLAYER DATA</u> <br><br> Saved data will be overwritten! Export first! <br><br></div>
    <br>
    <div id="deletedata-div"> <u>DELETE PLAYER DATA</u> <br><br> All data will be deleted for the player <br><br></div>

</div>

<div id="manage-bydate">

    <div><span class="usertogetdata"> Manage data of </span>
        <select id="select-usertomanage" name="usertomanage"> {{{whichuser}}}</select>
    </div>
    <br>
    <div id="list-dates">
        <span> <b><u> Click date to delete it, remember to backup first </u></b></span><br><br>
    </div>

</div>